<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Secure Authentication</title>

  <style>
    .row {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 25px;
    }
  </style>

</head>

<body>
  <form action="/infoform" method="POST">
    <div class="jumbotron text-center">
      <h1>Secure Authentication</h1>
      <p>Please enter your information below</p>
    </div>

    <div class="row">
      <div class="col form-group text-center">
        <label for="fName">First Name:</label>
        <input name="fName" class="form-control" id="fName" placeholder="John" type="text">
      </div>
      <div class="col form-group text-center">
        <label for="lName">Last Name:</label>
        <input name="lName" class="form-control" id="lName" placeholder="Doe" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col form-group text-center">
        <label for="bDay">Birthday (mm/dd/yyyy):</label>
        <input name="bDay" class="form-control" id="bDay" placeholder="01/01/1975" type="date">
      </div>
      <div class="col form-group text-center">
        <label for="phone">Phone Number:</label>
        <input name="phone" class="form-control" id="phone" placeholder="XXX-XXX-XXXX" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
      </div>
    </div>

    <div class="row">
      <div class="col form-group text-center">
        <label for="email">Email Address</label>
        <input name="email" class="form-control" id="email" placeholder="example@example.com" type="email">
      </div>
    </div>

    <div class="row">
      <div class="col form-group">
        <h3>Address</h3>
        <label for="street">Street Name and Number:</label>
        <input name="street" class="form-control" id="street" placeholder="100 S 100 E" type="text">
      </div>
      <div class="col form-group">
        <h3>...</h3>
        <label for="aptNum">Apartment Number:</label>
        <input name="aptNum" class="form-control" id="aptNum" placeholder="117 (enter N/A if not applicable)" type="text">
      </div>
    </div>
    <div class="row">
        <div class="col form-group">
          <label for="city">City:</label>
          <input name="city" class="form-control" id="city" placeholder="San Francisco" type="text">
        </div>
        <div class="col form-group">
          <label for="state">State:</label>
          <input name="state" class="form-control" id="state" placeholder="California" type="text">
        </div>
        <div class="col form-group">
            <label for="zip">Mailing Zip code:</label>
            <input name="zip" class="form-control" id="zip" placeholder="94016" type="text">
          </div>
      </div>


    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
  <!--Bootstrap scripts must be loaded at the end of the body-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>