<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>RSA Cryptosystem</title>

  <style>
    .row {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 25px;
    }
  </style>

</head>

<body>
  <div class="jumbotron text-center">
    <h1>Secure Authentication</h1>
    <p>Please enter your information below</p>
  </div>

  <div class="row">
    <div class="col form-group text-center">
      <label for="fName">First Name:</label>
      <textarea readonly class="form-control" rows="1" id="fName" placeholder="John"></textarea>
    </div>
    <div class="col form-group text-center">
      <label for="lName">Last Name:</label>
      <textarea readonly class="form-control" rows="1" id="lName" placeholder="Doe"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col form-group text-center">
      <label for="bDay">Birthday (mm/dd/yyyy):</label>
      <textarea readonly class="form-control" rows="1" id="bDay" placeholder="01/01/1975"></textarea>
    </div>
    <div class="col form-group text-center">
      <label for="phone">Phone Number:</label>
      <textarea readonly class="form-control" rows="1" id="phone" placeholder="XXX-XXX-XXXX"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <h3>Address</h3>
      <label for="street">Street Name and Number:</label>
      <textarea class="form-control" rows="1" id="street" placeholder="100 S 100 E"></textarea>
    </div>
    <div class="col form-group">
      <h3>...</h3>
      <label for="aptNum">Apartment Number:</label>
      <textarea class="form-control" rows="1" id="aptNum" placeholder="117 (enter N/A if not applicable)"></textarea>
    </div>
  </div>
  <div class="row">
      <div class="col form-group">
        <label for="city">City:</label>
        <textarea class="form-control" rows="1" id="street" placeholder="San Francisco"></textarea>
      </div>
      <div class="col form-group">
        <label for="state">State:</label>
        <textarea class="form-control" rows="1" id="aptNum" placeholder="California"></textarea>
      </div>
      <div class="col form-group">
          <label for="zip">Mailing Zip code:</label>
          <textarea class="form-control" rows="1" id="aptNum" placeholder="94016"></textarea>
        </div>
    </div>

  
  <div style="text-align: center">
    <button onclick="genKeys(event)" type="button" class="btn btn-primary">Submit</button>
  </div>

  <!--Bootstrap scripts must be loaded at the end of the body-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>